/* Global Variables with our values */
:root {
  --main-color: #f3601d;
  --text-color: #707070;
  --body-color: #f8f8f8;
  --white-color: #fff;
  --fonts-montserrat: "Montserrat", sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: var(--fonts-montserrat);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.body-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

h2 {
  text-align: center;
  padding: 12px;
  color: var(--text-color);
  background-color: var(--text-color);
  display: none;
  margin-top: 8px;
  margin-bottom: 8px;
}

h4 {
  font-size: 15px;
}

footer {
  background-color: var(--body-color);
  width: 100%;
  padding-bottom: 10px;
}

#logo-footer {
  margin-bottom: 6px;
  height: 43px;
  margin-top: 8px;
  position: relative;
}

#internship-label {
  width: 100px;
}
/* Style for the Hamburger & the Navigation Bar */
/*============ Navbar ============*/

#navbar {
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 1px;
  width: 100vw;
  z-index: 10;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.nav-wrapper {
  text-align: right;
  width: 100%;
  position: fixed;
  float: right;
  z-index: -1;
}

#navbar ul {
  padding-top: 10px;
  padding-right: 50px;
  display: inline-block;
  list-style: none;
  text-align: center;
  transition: transform 0.5s ease-out;
}

@media (max-width: 880px) {
  #navbar ul {
    display: none;
  }
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: var(--text-color);
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0 10px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #777777;
  transition: all 1s ease;
}

/* Animated Bottom Line */

#navbar li a:before,
#navbar li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -12px;
  background: var(--text-color);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: var(--text-color);
  right: 0;
}

#navbar li a:hover:before,
#navbar li a.active:before {
  background: var(--text-color);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#navbar li a:hover:after,
#navbar li a.active:after {
  background: transparent;
  width: 100%;
}

/*======= Responsive Mobile Menu========*/

.overlay-menu {
  background: var(--white-color);
  color: var(--text-color);
  justify-content: center;
  position: fixed;
  top: 61px;
  padding-left: 40%;
  padding-top: 30%;
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-out;
  z-index: 3;
}

.overlay-menu ul,
.overlay-menu li {
  display: block;
  position: relative;
  width: auto;
}

.overlay-menu li a {
  display: block;
  font-size: 18px;
  padding: 10px 0;
  text-align: left;
  text-transform: uppercase;
  transition: color 0.3s ease;
  text-decoration: none;
  color: var(--text-color);
}

/* Animated Bottom Line */

.overlay-menu li a:before,
.overlay-menu li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: var(--white-color);
}

.overlay-menu li a:before {
  left: 0;
  transition: 0.5s;
}

.overlay-menu li a:after {
  background: var(--text-color);
  right: 0;
}

.overlay-menu li a:hover:before,
.overlay-menu li a.active:before {
  background: var(--text-color);
  width: 70%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.overlay-menu li a:hover:after,
.overlay-menu li a.active:after {
  background: transparent;
  width: 100%;
}

/* Logo */

#logo {
  margin-left: 50px;
  margin-bottom: 6px;
  height: 43px;
  float: left;
  margin-top: 8px;
  position: relative;
  z-index: 1;
}

/* ///////// Button top ///////// */
#Btn-top {
  display: none;
  position: fixed;
  bottom: 32px;
  right: 20px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: var(--text-color);
  cursor: pointer;
  padding: 13px;
  border-radius: 4px;
}

#Btn-top:hover {
  background-color: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 8px 13px #4a4a4a;
}

/* Media Queries for Responsive Web Design */
/*  Screens 320px - 880px */
@media only screen and (min-width: 320px) and (max-width: 880px) {
  /* The style for the Logo */
  #logo {
    margin-left: 15px;
  }
  .menuIcon {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }
  /* Icon Bars */
  .icon-bars {
    background: var(--text-color);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    transition: 0.4s;
  }
  .icon-bars::before {
    background: var(--text-color);
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    transition: 0.3s width 0.4s;
  }
  .icon-bars::after {
    margin-top: 0px;
    background: var(--text-color);
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    transition: 0.3s width 0.4s;
  }
  /* Bars Shadows */
  .icon-bars.overlay {
    background: var(--text-color);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
  }
  @keyframes middleBar {
    0% {
      width: 0px;
    }
    50% {
      width: 20px;
    }
    100% {
      width: 0px;
    }
  }
  .icon-bars.overlay::before {
    background: var(--text-color);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
  }
  @keyframes topBar {
    0% {
      width: 0px;
    }
    50% {
      width: 10px;
    }
    100% {
      width: 0px;
    }
  }
  .icon-bars.overlay::after {
    background: var(--secondary-color);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
  }
  @keyframes bottomBar {
    0% {
      width: 0px;
    }
    50% {
      width: 15px;
    }
    100% {
      width: 0px;
    }
  }
  /* Toggle Menu Icon */
  .menuIcon {
    position: fixed;
  }
  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }
  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    transition: all 0s ease 0s;
  }
}
/* ************* REFERENCES PAGE ********** */

#main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

.hero-section {
  height: 300px;
  background-color: pink;
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.buttons {
  height: 100px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}

.buttons-wrapper {
  width: 100%;
  text-align: center;
  background-color: yellow;
}

.buttons-menu {
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
  list-style: none;
  text-align: center;
  border-right: 1.5px solid black;
}

.buttons-menu img {
  max-height: 40px;
  margin: auto;
}

.buttons-menu p {
  color: var(--text-color);
  font-size: 16px;
}

.buttons-menu:hover,
.buttons-menu.active {
  background-color: rebeccapurple;
  transition: all 1s ease;
}

#references-wrapper {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

/* Style for cards */
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: var(--color-white);
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
}

.link-card {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
}

.card-img {
  width: 100%;
  height: 250px;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .card-img {
  opacity: 0.3;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .middle {
  opacity: 1;
}

/* .card:hover {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
} */

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: var(--secondary-color);
  background-color: var(--main-color);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.link-btn {
  text-decoration: none;
  color: var(--white-color);
  font-size: 14px;
}

.name {
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* animation from Animatate CSS Library 
       * ---> https://github.com/daneden/animate.css
       */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

@-webkit-keyframes pulse-out {
  from {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse-out {
  from {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse-out {
  -webkit-animation-name: pulse-out;
  animation-name: pulse-out;
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.animated {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

/* ************ Media ************* */

@media only screen and (min-width: 400px) {
  /* REFERENCES PAE */
  .buttons-menu {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media only screen and (min-width: 500px) {
  /* REFERENCES PAE */
  .buttons-menu {
    padding-right: 50px;
    padding-left: 50px;
  }
}
